<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form  id="loginForm">
        
        <input id="email" type="email" name="email"  placeholder="example@email.com" required autocomplete="true">
        
        <input id="password" type="password" name="password"  placeholder="password" required autocomplete="true">
        <button type="button" id="loginButton">Sign Up</button>
        <div id="loginMessage"></div>
    </form>
    <script type="module" src="../utils/configLogin.js"></script>
</body>
</html>